@using BlazorBase.CRUD.Components.PageActions.Models

@if (VisiblePageActionGroups != null && VisiblePageActionGroups.Count > 0)
{
    @if (!ShowOnlyButtons)
    {
        <Card>
            <CardBody Padding="Padding.Is0">
                <Tabs SelectedTab="@SelectedPageActionGroup" SelectedTabChanged="SelectedPageActionGroupChanged">
                    <Items>
                        @foreach (var group in VisiblePageActionGroups)
                        {
                            <Tab @key="group" Name="@group.Caption" title="@ModelLocalizer[group.ToolTip ?? String.Empty]">
                                <BaseIcon IconName="@group.Image" Margin="Margin.Is2.FromRight" />
                                @if ((group.Caption == PageActionGroup.DefaultGroups.Process || group.Caption == PageActionGroup.DefaultGroups.RelatedInformations) && group.Caption == ModelLocalizer[group.Caption])
                                {
                                    @PageActionGroupLocalizer[group.Caption]
                                }
                                else
                                {
                                    @ModelLocalizer[group.Caption ?? String.Empty]
                                }
                            </Tab>
                        }
                    </Items>
                    <Content>
                        <TabsContent Padding="Padding.Is2">
                            @foreach (var group in VisiblePageActionGroups)
                            {
                                <TabPanel @key="group" Name="@group.Caption">
                                    @foreach (var action in group.PageActions)
                                    {
                                        <Button @key="action" Color="action.Color" Clicked="async () => await InvokePageAction(action)" title="@ModelLocalizer[action.ToolTip ?? String.Empty]" Margin="Margin.Is2.FromRight">
                                            <BaseIcon IconName="@action.Image" Margin="Margin.Is2.FromRight" />

                                            @ModelLocalizer[action.Caption ?? String.Empty]
                                        </Button>
                                    }
                                    @if (AdditionalPageActions != null)
                                    {
                                        @AdditionalPageActions(group)
                                    }
                                </TabPanel>
                            }
                        </TabsContent>
                    </Content>
                </Tabs>
            </CardBody>
        </Card>
    }
    else
    {
        @foreach (var group in VisiblePageActionGroups)
        {
            @foreach (var action in group.PageActions)
            {
                <Button @key="action" Color="action.Color" Clicked="async () => await InvokePageAction(action)" title="@ModelLocalizer[action.ToolTip ?? String.Empty]">
                    <BaseIcon IconName="@action.Image" />

                    @ModelLocalizer[action.Caption ?? String.Empty]
                </Button>
            }
        }
    }

    @if (CurrentActionRenderFragment != null)
    {
        @CurrentActionRenderFragment
    }
}