<AuthorizeView>
    <Authorized>

        <BarItem>
            <BarLink To="@(UserManageEnabled ? Options.ManageUserPath: String.Empty)">@Greeting @context.User.Identity.Name!</BarLink>
            @ChildContent
            <BarLink To="javascript:$('#logout-form').submit()">@Localizer["Log out"]</BarLink>
            <form id="logout-form" method="post" action="@Options.LogoutControllerPath"></form>
        </BarItem>

    </Authorized>
    <NotAuthorized>

        <BarItem>
            <BarLink To="@Options.LoginPath">@Localizer["Log in"]</BarLink>
        </BarItem>

        @ChildContent

    </NotAuthorized>
</AuthorizeView>
