@using BlazorBase.User.Controller

<EditForm Model="@Data" OnValidSubmit="@HandleValidSubmit">
    <div class="base-card">
        <Accordion Margin="Margin.Is2.FromTop">
            <Collapse Visible=true>
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is4">
                        <Button>@Localizer["Change Password"]</Button>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen" Class="col-xxl-4">
                            <Fields>
                                <Field Horizontal="true">
                                    <FieldLabel ColumnSize="ColumnSize.Is6">@Localizer["Current Password"]</FieldLabel>
                                    <FieldBody ColumnSize="ColumnSize.Is6">
                                        <InputText @bind-Value="Data.CurrentPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["Current Password"]" />
                                        <ValidationMessage For="@(() => Data.CurrentPassword)" />
                                    </FieldBody>
                                </Field>
                            </Fields>
                        </Column>
                    </Row>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen" Class="col-xxl-4">
                            <Fields>
                                <Field Horizontal="true">
                                    <FieldLabel ColumnSize="ColumnSize.Is6">@Localizer["New Password"]</FieldLabel>
                                    <FieldBody ColumnSize="ColumnSize.Is6">
                                        <InputText @bind-Value="Data.NewPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["New Password"]" />
                                        <ValidationMessage For="@(() => Data.NewPassword)" />
                                    </FieldBody>
                                </Field>
                            </Fields>
                        </Column>
                    </Row>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is6.OnFullHD.Is12.OnWidescreen" Class="col-xxl-4">
                            <Fields>
                                <Field Horizontal="true">
                                    <FieldLabel ColumnSize="ColumnSize.Is6">@Localizer["Confirm new Password"]</FieldLabel>
                                    <FieldBody ColumnSize="ColumnSize.Is6">
                                        <InputText @bind-Value="Data.ConfirmPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["Confirm new Password"]" />
                                        <ValidationMessage For="@(() => Data.ConfirmPassword)" />
                                    </FieldBody>
                                </Field>
                            </Fields>
                        </Column>
                    </Row>
                    <Button Class="btn-block" Size="Size.Large" Color="Blazorise.Color.Primary" Type="ButtonType.Submit">@Localizer["Change Password"]</Button>
                </CollapseBody>
            </Collapse>
        </Accordion>
    </div>
</EditForm>