@using BlazorBase.User.Controller

<div>
    <EditForm Model="@Data" OnSubmit="@OnSubmit">
        <div class="base-card">
            <Accordion Margin="Margin.Is0.FromTop">
                <Collapse Visible=true>
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is4">
                            <Button>@Localizer["Change Password"]</Button>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        <DataAnnotationsValidator />
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Fields>
                                    <Field Horizontal="true">
                                        <FieldLabel Class="col-6 col-xl-3 col-xxl-2 col-xxxl-2">@Localizer["Current Password"]</FieldLabel>
                                        <FieldBody Class="col-6 col-xl-5 col-xxl-4 col-xxxl-3">
                                            <InputText @bind-Value="Data.CurrentPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["Current Password"]" />
                                            <ValidationMessage For="@(() => Data.CurrentPassword)" />
                                        </FieldBody>
                                    </Field>
                                </Fields>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Fields>
                                    <Field Horizontal="true">
                                        <FieldLabel Class="col-6 col-xl-3 col-xxl-2 col-xxxl-2">@Localizer["New Password"]</FieldLabel>
                                        <FieldBody Class="col-6 col-xl-5 col-xxl-4 col-xxxl-3">
                                            <InputText @bind-Value="Data.NewPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["New Password"]" />
                                            <ValidationMessage For="@(() => Data.NewPassword)" />
                                        </FieldBody>
                                    </Field>
                                </Fields>
                            </Column>
                        </Row>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <Fields>
                                    <Field Horizontal="true">
                                        <FieldLabel Class="col-6 col-xl-3 col-xxl-2 col-xxxl-2">@Localizer["Confirm new Password"]</FieldLabel>
                                        <FieldBody Class="col-6 col-xl-5 col-xxl-4 col-xxxl-3">
                                            <InputText @bind-Value="Data.ConfirmPassword" autocomplete="current-password" name="Password" type="password" class="form-control" placeholder="@Localizer["Confirm new Password"]" />
                                            <ValidationMessage For="@(() => Data.ConfirmPassword)" />
                                        </FieldBody>
                                    </Field>
                                </Fields>
                            </Column>
                        </Row>

                        <Row>
                            <Column ColumnSize="ColumnSize.Is12">
                                <div class="form-row">
                                    <div class="col form-group row">
                                        <div class="submit-btn-col col-12 col-xl-8 col-xxl-6 col-xxxl-5">
                                            <Button Class=" btn-block" Size="Size.Large" Color="Blazorise.Color.Primary" Type="ButtonType.Submit">@Localizer["Change Password"]</Button>
                                        </div>
                                    </div>
                                </div>
                            </Column>
                        </Row>

                        @if (!String.IsNullOrEmpty(Feedback))
                        {
                            <div class="feedback alert alert-danger" role="alert">
                                @Feedback
                            </div>
                        }
                    </CollapseBody>
                </Collapse>
            </Accordion>
        </div>
    </EditForm>

    <form id="logout-form" method="post" action="@Options.LogoutControllerPath"></form>
</div>