@using System.Linq

<BarItem @attributes="AdditionalAttributes">
    <BarDropdown Visible="DropDownIsVisible" VisibleChanged="DropDownVisibleChanged">
        <BarDropdownToggle>
            <BarIcon IconName="@MenuIcon" />
            @MenuName
        </BarDropdownToggle>

        <BarDropdownMenu>
            @foreach (var navigationGroup in NavigationEntries.GroupBy(navigationEntry => navigationEntry.Group))
            {
                @if (!String.IsNullOrWhiteSpace(navigationGroup.Key))
                {
                    <div class="bb-bar-dropdown-header">@navigationGroup.Key</div>
                }
                @foreach (var navigationEntry in navigationGroup)
                {
                    <BarDropdownItem @key="navigationEntry" To="@navigationEntry.Link" Target="@(navigationEntry.OpenInNewTab ? Blazorise.Target.Blank : Blazorise.Target.None)">
                        <BarIcon Class="@($"fa-fw {navigationEntry.Icon}")" />
                        @navigationEntry.Name
                    </BarDropdownItem>
                }
            }
        </BarDropdownMenu>
    </BarDropdown>
</BarItem>

