@typeparam TModel
@inherits BaseDisplayComponent

<div class="base-card">
    <Modal @ref="Modal" Class="modal-fullscreen" Closing="((arg) => OnCloseModalAsync(arg))">
        <ModalContent Centered="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>
                    @Localizer["ChooseColumns"]
                </ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Fields ColumnSize="ColumnSize.IsFull">
                    <Field ColumnSize="ColumnSize.Is6">
                        <FieldLabel>
                            @Localizer["Visible"]
                        </FieldLabel>
                        <FieldBody>
                            <ListGroup Mode="ListGroupMode.Selectable" SelectedItemChanged="OnVisibleSelectedItemChange">
                                @foreach (var item in VisibleEntries)
                                {
                                    <ListGroupItem Name="@item">@ModelLocalizer[item]</ListGroupItem>
                                }
                            </ListGroup>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is6">
                        <FieldLabel>
                            @Localizer["InVisible"]
                        </FieldLabel>
                        <FieldBody>
                            <ListGroup Mode="ListGroupMode.Selectable" SelectedItemChanged="OnInVisibleSelectedItemChange">
                                @foreach (var item in InVisibleEntries)
                                {
                                    <ListGroupItem Name="@item">@ModelLocalizer[item]</ListGroupItem>
                                }
                            </ListGroup>
                        </FieldBody>
                    </Field>
                </Fields>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="HideModalAsync">@Localizer["Close"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</div>