@if (VisiblePageActionGroups != null && VisiblePageActionGroups.Count > 0)
{
    <Card>
        <CardBody Padding="Padding.Is0">
            <Tabs SelectedTab="@SelectedPageActionGroup" SelectedTabChanged="SelectedPageActionGroupChanged">
                <Items>
                    @foreach (var group in VisiblePageActionGroups)
                    {
                        <Tab Name="@group.Caption" title="@ModelLocalizer[group.ToolTip ?? String.Empty]">
                            <BaseIcon IconName="@group.Image" Margin="Margin.Is2.FromRight" />
                            @ModelLocalizer[group.Caption ?? String.Empty]
                        </Tab>
                    }
                </Items>
                <Content>
                    <TabsContent Padding="Padding.Is2">
                        @foreach (var group in VisiblePageActionGroups)
                        {
                            <TabPanel Name="@group.Caption">
                                @foreach (var action in group.PageActions)
                                {
                                    <Button Color="action.Color" Clicked="async () => await InvokePageAction(action)" title="@ModelLocalizer[action.ToolTip ?? String.Empty]" Margin="Margin.Is2.FromRight">
                                        <BaseIcon IconName="@action.Image" Margin="Margin.Is2.FromRight" />

                                        @ModelLocalizer[action.Caption ?? String.Empty]
                                    </Button>
                                }
                            </TabPanel>
                        }
                    </TabsContent>
                </Content>
            </Tabs>
        </CardBody>
    </Card>
}