@using BlazorBase.CRUD.Models;
@using BlazorBase.Modules;
@typeparam TModel

<div class="base-card">
    <Modal @ref="Modal" Class="modal-fullscreen" Closing="async (args) => await OnModalClosing(args)">
        <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>
                    @if (ViewMode)
                    {
                        <span>@Title</span>
                    }
                    else
                    {
                        <span>@Title</span>
                        <Button Color="Color.Success" Clicked="SaveModalAsync">@Localizer["Save"]</Button>
                    }
                </ModalTitle>
                <CloseButton />
            </ModalHeader>
            @if (ExplainText != null && ExplainText.Location == ExplainTextLocation.Top)
            {
                <ModalHeader Class="base-card-explain-text">
                    <div>
                        @BaseMarkupStringValidator.GetWhiteListedMarkupString(ExplainText.Text)
                    </div>
                </ModalHeader>
            }
            <ModalBody>
                 
                @BaseCardRenderFragment

            </ModalBody>
            @if (ExplainText != null && ExplainText.Location == ExplainTextLocation.Bottom)
            {
                <ModalFooter Class="base-card-explain-text">
                    <div>
                        @BaseMarkupStringValidator.GetWhiteListedMarkupString(ExplainText.Text)
                    </div>
                </ModalFooter>
            }
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="HideModal">@Localizer["Close"]</Button>
                @if (!ViewMode)
                {
                    <Button Color="Color.Success" Clicked="SaveModalAsync">@Localizer["Save"]</Button>
                    <Button Color="Color.Primary" Clicked="SaveAndCloseModalAsync">@Localizer["Save & Close"]</Button>
                }
            </ModalFooter>
        </ModalContent>
    </Modal>
</div>