@using BlazorBase.CRUD.Models;
@using BlazorBase.Modules;
@typeparam TModel

<div class="base-card">
    <BaseModal @ref="Modal" Class="modal-fullscreen" Closing="OnModalClosing">
        <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>
                    @if (ViewMode || ParentDbContext != null)
                    {
                        <span>@Title</span>
                        if (ParentDbContext != null)
                        {
                            <Button Class="base-card-top-action-button" Margin="Margin.Is2.FromLeft" Color="Color.Secondary" Clicked="HideModalAsync">@(CloseButtonText ?? @Localizer["Close"])</Button>
                        }
                    }
                    else
                    {
                        <span>@Title</span>
                        <Button Class="base-card-top-action-button" Color="Color.Success" Clicked="SaveModalAsync">@Localizer["Save"]</Button>
                    }
                </ModalTitle>

                @if (ParentDbContext == null)
                {
                    <BaseModalCloseButton />
                }
            </ModalHeader>
            @if (ExplainText != null && ExplainText.Location == ExplainTextLocation.Top)
            {
                <ModalHeader Class="base-card-explain-text">
                    <div>
                        @BaseMarkupStringValidator.GetWhiteListedMarkupString(ExplainText.Text)
                    </div>
                </ModalHeader>
            }
            <ModalBody>
                <BaseCard @ref="BaseCard"
                          TModel="TModel"
                          SingleDisplayName="@SingleDisplayName"
                          Embedded="true"
                          ShowActions="ShowActions"
                          ShowEntryByStart="ShowEntryByStart"
                          ComponentModelInstance="ComponentModelInstance"
                          ParentDbContext="ParentDbContext"
                          EntryToBeShownByStart="EntryToBeShownByStart"
                          OnShowEntry="OnShowEntry"
                          AdditionalHeaderPageActions="AdditionalHeaderPageActions"
                          OnTitleCalculated="OnTitleCalculated"
                          OnAfterGetVisibleProperties="GetVisiblePropertiesAsync"
                          OnAfterSetUpDisplayLists="OnAfterSetUpDisplayLists"
                          OnCreateNewEntryInstance="OnCreateNewEntryInstance"
                          OnGuiLoadData="OnGuiLoadData"
                          OnBeforeAddEntry="OnBeforeAddEntry"
                          OnAfterAddEntry="OnAfterAddEntry"
                          OnBeforeUpdateEntry="OnBeforeUpdateEntry"
                          OnAfterUpdateEntry="OnAfterUpdateEntry"
                          OnBeforeConvertPropertyType="OnBeforeConvertPropertyType"
                          OnBeforePropertyChanged="OnBeforePropertyChanged"
                          OnAfterPropertyChanged="OnAfterPropertyChanged"
                          OnBeforeSaveChanges="OnBeforeSaveChanges"
                          OnAfterSaveChanges="OnAfterSaveChanges"
                          OnCreateNewListEntryInstance="OnCreateNewListEntryInstance"
                          OnBeforeAddListEntry="OnBeforeAddListEntry"
                          OnAfterAddListEntry="OnAfterAddListEntry"
                          OnBeforeRemoveListEntry="OnBeforeRemoveListEntry"
                          OnAfterRemoveListEntry="OnAfterRemoveListEntry"
                          OnBeforeConvertListPropertyType="OnBeforeConvertListPropertyType"
                          OnBeforeListPropertyChanged="OnBeforeListPropertyChanged"
                          OnAfterListPropertyChanged="OnAfterListPropertyChanged"
                          OnAfterMoveListEntryUp="OnAfterMoveListEntryUp"
                          OnAfterMoveListEntryDown="OnAfterMoveListEntryDown" />
            </ModalBody>
            @if (ExplainText != null && ExplainText.Location == ExplainTextLocation.Bottom)
            {
                <ModalFooter Class="base-card-explain-text">
                    <div>
                        @BaseMarkupStringValidator.GetWhiteListedMarkupString(ExplainText.Text)
                    </div>
                </ModalFooter>
            }
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="HideModalAsync">@(CloseButtonText ?? @Localizer["Close"])</Button>
                @if (!ViewMode && ParentDbContext == null)
                {
                    <Button Color="Color.Success" Clicked="SaveModalAsync">@Localizer["Save"]</Button>
                    <Button Color="Color.Primary" Clicked="SaveAndCloseModalAsync">@Localizer["Save & Close"]</Button>
                }
            </ModalFooter>
        </ModalContent>
    </BaseModal>
</div>